.skill {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 60px 0;
    position: relative;
}

.skill-bx {
    text-align: center;
    color: #333;
}

.skill-heading {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}

.skill-heading::after {
    content: '';
    width: 50px;
    height: 4px;
    background: #ff7e5f;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.skill-description {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #555;
    line-height: 1.9;
    max-width: 800px;
    margin: 0 auto; /* Center the paragraph */
    text-align: center; /* Center the text */
    padding-left: 350px; /* Add padding to the left */
}


.skill-bx {
    text-align: center; /* Center the content within the skill box */
}


.carousel-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-slider {
    display: flex;
    align-items: center;
}

.skill-slider .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill-slider .item:hover {
    transform: scale(1.1);
}

.skill-img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 10px;
}

.top-row {
    animation: move-left 20s linear infinite;
}

.bottom-row {
    animation: move-right 20s linear infinite;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background-image-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}
